/* src/styles/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #007bff;
    color: white;
    height: 60px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 40px;
    width: auto;
  }
  
  .logout {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .logout-button:hover {
    color: #f4f4f4;
  }
  